<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wheny.wenyapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestPbActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".mvvm.view.test_drawable.TestDrawableActivity"></activity>
        <activity android:name=".mvvm.view.test_delegation.TestDeleActivity" />
        <activity android:name=".mvvm.view.tf.TFActivity" />
        <activity android:name=".mvvm.view.testHanlder.TestHandlerActivity" />
        <activity android:name=".test_coroutines.TestCoroutinesActivity" />
        <activity android:name=".mvvm.view.TestFragment.TestFragmentActivity" />
        <activity android:name=".mvvm.view.databinding.TestDataBindingActivity" />
        <activity android:name=".mvvm.view.list.TestListActivity" />
        <activity android:name=".mvvm.view.login.LoginActivity" />
        <activity android:name=".test_pb.TestPbActivity" />
        <activity android:name=".mvvm.view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>